:root {
  --main-bg-color: #aad;
  --sidebar-color: #656;
  --sidebar-width: 250px;
  --page-width: 1200px;
  --color-dark: #1d3557;
}

.navbar {
  background-color: var(--main-bg-color);
}

nav a {
  color:#000;
  padding: 0 20px;
}

#mainMenu {
  display: inline-block !important;
}

nav form.form-inline {
  display: inline-block;
  float: right;
  padding-top: 11px;
}

.inner {
  width: var(--page-width);
  margin: 0 auto;
}

nav button, nav .btn-outline-success {
  border:1px solid #000;
  background-color: rgba(0,0,0,0.5);
  color:#ddd;
}


nav .btn-outline-success:hover , 
nav .btn-outline-success:active {
  background-color: rgba(200,200,200,0.5);
  border:1px solid #fff;
}

#main {
  margin-top: 100px;
}

#main .field-image img {
  float: left;
  margin-right: 30px;
}