:root {
  --main-bg-color: #f1faee;
  --sidebar-color: #457b9d;
  --color-dark: #1d3557;
}
* {
    text-align: right;
    font-size: 12px;
  }
body {
  background-color: var(--main-bg-color);
}

body.loading::before {
  content: ' ';
  background: rgba(0,0,0,0.5);
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;

  
}
body #spinner { 
  display: none;
  background-image: url(../assets/images/spinner.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 140px;
}
body.loading #spinner {
  animation: rotation 3s infinite;
  display: block;
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 111;
  top: calc( 50vh - 75px );
  right: calc( 50vw - 75px );
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

table {
  width: 100%;
}

h1 {
  color:#05668d;
}

  h3 {
    font-size: 16px;
  }
  .wrapper {
      display: flex;
      width: 100%;
  }
  
  #sidebar {
      width: 250px;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      z-index: 999;
      background: var(--sidebar-color);
      color: #fff;
      transition: all 0.3s;
      padding-top: 20px;
  }
   
  .hideLeftBar {
    background-color: #d2d2d2;
    height: 100vh;
  }
  .hideLeftBar #sidebar {
    display: none;
  }

  .hideLeftBar #mainArea {
    border: 1px solid;
    padding: 20px;
    margin: 0 auto;
    top: 20px;
    position: relative;
    width: 500px;
    background-color: #eee;
    height: 271px;
  }

  .hideLeftBar #mainArea [type=text] {
    padding: 5px 10px;
  }

  #sidebar h3 {
    color:var(--main-bg-color);
    margin-top: 15px;
  }

  #sidebar a {
    color:#fff;
  }

  #mainArea {
    padding-top: 20px;
    margin-right: 290px;
    width: calc( 100% - 350px );
  }

  #content input[type=text], 
  #content textarea
  {
      width: 100%;
  }

  #content input[type=date] {
    width: 120px;
  }
  
  #content textarea {
    height:250px;
  }

  #content form {
    max-width: 800px;
  }

  #content button.submit , 
  #content button.cancel {
    padding: 5px 20px;
    margin-top: 16px;
    float: left;
    background: var(--sidebar-color);
    color: var(--main-bg-color);
    border: 0 none;
    font-size: 16px;
  } 

  #content button.cancel {
    background-color: var(--main-bg-color);
    color: var(--color-dark);
  }

  #content form [name=title] ,
  #content form [name=en_title]
  {
    height: 27px;
    line-height: 20px;
  }

  .postForm button, 
  .postForm [type=submit] {
    clear: both;
    width: 100px;
    display: block;
    margin-top: 20px;
    text-align: center;
  }

  .form-element label {
    margin-bottom:0;
    font-weight: bold;
    display: block;
    margin-top: 20px;
  }

  tr:nth-child(even) {
    background-color:#eee;
  }

  td, th {
    padding:5px 10px;
    line-height: 20px;
    padding:5px;
    width:20px;
    text-align: right;
  }

  td:nth-child(3) {
    width: CALC( 100% - 200px );
    padding: 10px;
  }

  .loginForm input[type=submit] {
      margin-top: 16px;
      float: left;
      margin-left: 20px;
      background-color: #89f;
      padding: 7px 20px;
      font-weight: 500;
      border: 1px solid #666;
  }
  
  .loginForm input[type=text] {
    min-width: auto;
    padding: 2px 10px;
  }

  .loginForm input[name=token] {
    width: 365px;
  }

  .form-element.id label {
    display: inline-block
  }

  .form-element.id input {
    background-color: transparent;
    padding-right: 10px;
    border: 0 none;
  }

  .form-element input {
    width:100%;
  }

  .siteUrlPreview {
    display: block;
  }

#translaitonInterface textarea {
  height: 50px;
}

#translaitonInterface .langItem {
  margin:10px;
}

#translaitonInterface .langItem label {
  width:100px;
  display: inline;
  vertical-align: top;
} 

#translaitonInterface .langItem textarea {
  display: inline-block;
  width: 700px;
  margin-right: 15px;
}
.form-element.file .preview {
  background-image: url(../assets/images/attachments.png);
  height: 30px;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
  line-height: 30px;
  margin-bottom: 16px;
}