<section class="three-widgets">
    <article class="widget">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <h3>בקר אצלנו</h3>
        <div>רח' הברון הירש 4 ירושלים</div>
    </article>
    <article class="widget">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <h3>שלח לנו אמייל</h3>
        <div>office@meshilut.org</div> 
    </article>
    <article class="widget">
        <i class="fa fa-money" aria-hidden="true"></i>
        <h3>תרמו לנו</h3>
        <div>לתרמה לחצו כאן - בתודה מראש</div>
    </article>
</section>   